.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App {
    min-height: 100vh;
}

.main {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(12px + 2vmin);
    padding: 15px
}

.App-button {
    color: #3f51b5;
    font-size: xx-large;
}

.navbar {
    background-color: #3f51b5;
    height: 60px;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.navbar-img {
    height: 40px;
    margin: auto 10px;
}

.user-section,
.points-section {
    display: flex;
}

.username, .points {
    margin: auto;
}

.main-img {
    height: 250px;
    margin: 10px;
}

.main .input-range {
    width: 80%;
    margin: 20px;
}

.main .input-range__label {
    color: #3f51b5;
    font-size: 16px;
}

.rangeslider {
    width: 100%;
    display: flex;
}

.slider-img {
    height: 40px;
    margin: auto;
}

.question {
    margin: 30px 0;
}

.checkbox {
    margin-bottom: 5px;
}
